

body{
	background: #eeeeee;
	font-family:  "Snell Roundhand", cursive;
	color: #444444;
}

.titre{
	color : #818181;
	text-align: center;
	padding-bottom: 5%;
}

.titreHeader{
	color : #818181;
	text-align: center;
	padding-bottom: 1%;
}

.txtBox{
	width: 20%;
}

header{
	height: 15%;
	background-color: #eeeeee;
	font-family:  FreeMono, monospace;
	text-decoration: none;
	line-height: 100%;
	text-align: center;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.historique{
	color: white;
	font-size: 20px;
	background-color: #4E4E50;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 80%;
	height: 80%;
	border-style:solid;
	border-color: #bb8567;
	overflow: auto; 
}

.panneau{
	border : solid 5px grey;
	border-radius: 10px;
	padding: 1%;
}

.bontonJoueur{
	margin-left: 70%;
}

.divFinJeu{
	width: 100%;
	height: 80%;
	z-index: -1;
	position: absolute;
}

.txtFinJeu{
	text-align: center;
	padding-top: 25%;
	font-weight: bold;
	font-size: 150%;
}

/*css du bouton afficher */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: grey;
}

input:focus + .slider {
  box-shadow: 0 0 1px grey;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/*arrondissement du sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*fin du css du bouton afficher*/



