    h1.center {
    text-align: center;
    color: blue;
}

center {
    text-align: center;
}

.cell {
    width: 90px;
    height: 90px;
    text-align: center;
    color : green;
}

.tableEchiquier{
    margin: auto;
    z-index: 0;
}

.caseNoir{
    background-color : #bb8567;
}

.caseBlanche{
    background-color: #f4d6b7;
}

.cercle{
    border-radius:50%;
    background:green;
}

.cercleSolo{
    width: 25px;
    height: 25px;
    border-radius:50%;
    background:green;
    margin-right: auto;
    margin-left: auto;
}

.cercleProposition {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    background: none;
    margin: auto;
    border : solid 5px grey;
}

.rotate {
    transform: rotate(180deg);
}